@model IEnumerable<Nop.Web.Models.Flitts.Homepage.HomepageViewModel>

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">@Html.Action("HeaderLinks", "Common")</div>

@if (Model != null)
{
  if (Model.Any())
  {
    foreach (var item in Model)
    {
      @* Slider *@
      if (item.Id == 1)
      {
        <div class="container-fluid">
          @if (item.DesktopItems.Any())
          {
            <div class="row d-none d-md-block carousel slide" data-ride="carousel" id="carouselDesktop">
              <div class="carousel-inner col-12 d-block d-md-block">
                @{
                  var index = 0;
                  var firstactive = "active";
                  foreach (var img in item.DesktopItems)
                  {
                    if (index > 0)
                    {
                      firstactive = "";
                    }

                    <div class="carousel-item @firstactive position-relative">
                      <a href="@img.NavigateTo" class="">
                        <img class="d-block w-100" src="@img.PictureUrl" style="padding: 0 30px;">
                      </a>
                    </div>

                    index++;

                  }
                }
              </div>
              <a class="carousel-control-prev" href="#carouselDesktop" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselDesktop" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          }

          @if (item.MobileItems.Any())
          {
            <div class="row d-block d-md-none carousel slide" data-ride="carousel" id="carouselExampleControls">
              <div class="carousel-inner col-12 d-block d-md-block position-relative">

                @{
                  var index = 0;
                  var firstactive = "active";
                  foreach (var img in item.MobileItems)
                  {
                    if (index > 0)
                    {
                      firstactive = "";
                    }

                    <div class="carousel-item @firstactive">
                      <a href="@img.NavigateTo">
                        <img class="d-block w-100" src="@img.PictureUrl">
                      </a>

                    </div>

                    index++;
                  }
                }
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          }


        </div>
      }

      @* row 2 *@
      if (item.Id == 2)
      {
        <div class="container">
          <div class="row">
            <div class="col-1 col-md-2 col-sm-1">
            </div>
            <div class="col-10 col-md-6 col-sm-11">
                
              <h1 class="mb-4">Eunoia x The Widira’s</h1>
              <p>Veni Vidi Amavi - we came, we saw, we loved. This collection is heavily inspired by our yearly excitement. The preparation of our Holiday Outfit from Autumn to Winter! This is the time we always look forward to! We usually start packing weeks prior the D-Day. Planning on what to Mix & Match from Day 1, Day 2, and the list goes on in 4? Simple rules: chic, comfy, photo-ready, and versatile, and everything is match-able, so that we have plenty of space left in our luggage.</p>

            </div>

          </div>

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-12 col-md-6" style="height: 400px;">
              <div class="p-4" style="height: 100%; align-items: center; justify-content: left; display: flex;">
                <div class="mt-3">
                  @{
                    <img src="@item.DesktopItems[0].PictureUrl" class="img-fluid mr-2 h-auto w-100" />
                   }
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4" style="height: 650px;">
              <div class="p-2" style="height: 100%; align-items: center; justify-content: center; display: flex;">
                <div class="mt-3">
                 @{
                    <img src="@item.DesktopItems[1].PictureUrl" class="img-fluid mr-2 h-auto w-100" />
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      }

    }
  }
}


@*New Arrival*@
<div class="container pb-5">
  <div class="row">
    <div class="col-12 col-md-1">
    </div>
    <div class="col-12 col-md-2 text-center">
      <p style="font-size: 20px; margin-right: 26px;">New Arrivals</p>
    </div>
    <div class="col-md-1 d-none d-md-block" style="margin: 0; padding: 0">
      <hr style="border: 3px solid grey;">
    </div>
    <div class="col-md-8 d-none d-md-block" style="margin: 0; padding: 0">
      <hr style="border: 1px solid grey;">
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md-2" style="margin-right: -26px;">
    </div>
    @if(Model.Any()) {
      foreach (var item in Model) {
        if (item.Id == 2) {
          var index = 0;
          foreach (var img in item.DesktopItems) {
            if(index >=2 && index <= 3) {
              <div class="col-12 col-md-3 mr-5">
                @{
                  <img src="@item.DesktopItems[index].PictureUrl" class="img-fluid w-100" />
                  <div>
                    <p style="float: left;">Monaco in Snow</p>
                    <p style="float: right;">IDR 250.000</p>
                  </div>
                }
              </div>
            }

            if(index == 4 ) {
              <div class="col-12 col-md-3">
                @{
                  <img src="@item.DesktopItems[index].PictureUrl" class="img-fluid w-100" />
                  <div>
                    <p style="float: left;">Monaco in Snow</p>
                    <p style="float: right;">IDR 250.000</p>
                  </div>
                }
              </div>
            }
            index++;
          }
        }
      }
    }
  </div>
</div>

@*Instagram*@
<div class="container pt-5 p-2 mt-50px">
  <div class="row" style="height: 100%;">
    <div class="col-md-1">
    </div>
    <div class="col-12 col-md-3" style="align-items: center; justify-content: center; display: flex;">
      <p style="font-size: 12px;">Follow us on instagram</p>
    </div>
    @if(Model.Any()) {
      foreach (var item in Model) {
        if (item.Id == 2) {
          var index = 0;
          foreach (var img in item.DesktopItems) {
            if(index >= 5) {
              <div class="col-12 col-md-2" style="align-items: center; justify-content: center; display: flex;">
                @{
                  <img src="@item.DesktopItems[index].PictureUrl" class="h-auto w-13%">
                }
              </div>
            }
            index++;
          }
        }
      }
    }
  </div>
</div>
<br />
<br />
<br />

<input type="hidden" id="flag" value="0" />

@Html.Action("Footer", "Common")

@section RootHeaderSection{

  <link rel="stylesheet" type="text/css" href="~/Scripts/app/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="~/Scripts/app/slick/slick-theme.css">

  <link href="~/Themes/v1/Content/homepage.css" rel="stylesheet" />

  <style>
    .col-12, .col-6 {
      padding: 0 !important;
    }
  </style>
}

@section RootScripts{

  <script>
    $(document).ready(function () {
      $('.carousel').carousel({
        touch: true
      });

    });

  </script>

  <script src="~/Scripts/app/slick/slick.js" type="text/javascript" charset="utf-8"></script>

  <script>
    $(document).ready(function () {
      $('.carouselhero').slick({
        slidesToShow: 1,
        dots: false,
        centerMode: false,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
    $(document).ready(function () {
      $('.carouselhero2').slick({
        slidesToShow: 1,
        dots: false,
        centerMode: false,
        arrows: false,
      });
    });
    $(document).ready(function () {
      $('.carouseldesktop').slick({
        slidesToShow: 3,
        dots: false,
        centerMode: false,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
    $(document).ready(function () {
      $('.carouselmobile').slick({
        slidesToShow: 3,
        dots: false,
        centerMode: false,
        arrows: false,
      });
    });

    $('.left').click(function () {
      $('.carouselmobile').slick('slickPrev');
    })

    $('.right').click(function () {
      $('.carouselmobile').slick('slickNext');
    })




  </script>



}
<script>
	var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
	console.log(model);    
</script>